<img src="{{ site.github.url }}/assets/img/work/proj-8/img1.jpg" alt="Akerbar" />

"Kallas i Norrland åkerbär, i Hälsingland jungfrubär, i Österbotten vikon." "Bäret sammansatt, svartrött, syrligt, av angenäm lukt och smak, fast kvarsittande på sitt fäste, ej lossnande därifrån.  Bären överträffar alla europeiska bärslag genom sin utsökta lukt och smak; vid rötfebrar är de upplivande och stärkande."

//Linné, 1755

<img src="{{ site.github.url }}/assets/img/work/proj-8/img2.jpg" alt="Akerbar" />
<img src="{{ site.github.url }}/assets/img/work/proj-8/img3.jpg" alt="Akerbar" />
<img src="{{ site.github.url }}/assets/img/work/proj-8/img4.jpg" alt="Akerbar" />
