<img src="{{ site.github.url }}/assets/img/work/proj-1/img1.jpg" alt="Blåklocka">

<p>The Campanula persicifolia starts blooming in June. Linné said: "Växer på stenbundna ängar bland törnsnår och enbuskar. Den stora blå klockan tjänar som paraply för mångahanda insekter när det regnar, och skyddar även insekterna under natten mot kvällsdaggen." </p>

<img src="{{ site.github.url }}/assets/img/work/proj-1/img2.jpg" alt="Typo International">
<img src="{{ site.github.url }}/assets/img/work/proj-1/img3.jpg" alt="Typo International">
<img src="{{ site.github.url }}/assets/img/work/proj-1/img4.jpg" alt="Typo International">

