<img src="{{ site.github.url }}/assets/img/work/proj-2/img1.jpg" alt="Cikoria" />
"Svenskt namn vägvårda, i Skåne järnört. Växer allmänt på åkerrenar i Skåne samt på Öland och Gotland på öppen mark. Pryder med sina blommor vägkanterna och börjar blomma då Echium [=blåeld] slutar, icke före midsommar. Vakar från kl. 8 till kl. 4. Den vildväxande roten är mera skarp och mera tjänlig till läkemedel, den odlade är sötare och mer lämplig till mat. Den kokta roten blir, allt efter grasde av kokning, ljusgul, mörkgul, besk. Örten äts ej av hästar."

- Carl von Linné, 1755

<img src="{{ site.github.url }}/assets/img/work/proj-2/img2.jpg" alt="Cikoria" />
<img src="{{ site.github.url }}/assets/img/work/proj-2/img3.jpg" alt="Cikoria" />
<img src="{{ site.github.url }}/assets/img/work/proj-2/img4.jpg" alt="Cikoria" />