<img src="{{ site.github.url }}/assets/img/work/proj-7/img1.jpg" alt="Vass">

"Strandrör, i Uppland rör, i Götaland vass, i Småland skärvass. Växer i sjöar, floder och sandiga myrar i hela Sverige; mycket skadlig för åkrarna i Halland." "Med vippan färgar kvinnorna ylletyg gröna. Gipsmakarna använder stråna vid gipsning av tak. Om de håriga fröna kommer in i öronen, förorsakar de dövhet."

//Linné, 1755

<img src="{{ site.github.url }}/assets/img/work/proj-7/img2.jpg" alt="Vass">
<img src="{{ site.github.url }}/assets/img/work/proj-7/img3.jpg" alt="Vass">

